<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Real Estates</title>
    <link rel="stylesheet" href="/stylesheets/formulario.css" />
    <%- include("modules/estilos") %>
  </head>
  <body>
    <header><%- include("modules/navbar") %></header>
    <main class="d-flex justify-content-center">
      <form
        action="/realestates/inscribeRealEstate"
        method="post"
        enctype="multipart/form-data"
        class="d-flex flex-column formulario"
      >
        <h2 class="titulo pb-4">¡Regístrate con nosotros!</h2>
        <div class="form-group">
          <input
            class="form-input"
            type="text"
            name="realestate_name"
            placeholder=""
            id="nombre"
          />
          <label class="form-label" for="nombre">
            <div class="form-text">Nombre de la inmobiliaria</div>
          </label>
        </div>
        <span style="color: red"
          ><%= typeof message1 != 'undefined' ? message1 : null %></span
        >

        <div class="form-group">
          <input
            type="email"
            name="email"
            class="form-input"
            placeholder=""
            id="email"
          />
          <label for="email" class="form-label">
            <div class="form-text">Email</div>
          </label>
        </div>
        <span style="color: red"
          ><%= typeof message2 != 'undefined' ? message2 : null %></span
        >

        <div class="form-group">
          <input
            type="password"
            name="password"
            class="form-input"
            placeholder=""
            id="password"
          />
          <label for="password" class="form-label">
            <div class="form-text">Contraseña</div>
          </label>
        </div>
        <span style="color: red"
          ><%= typeof message3 != 'undefined' ? message3 : null %></span
        >

        <div class="form-group">
          <input
            type="tel"
            name="phone_number"
            class="form-input"
            placeholder=""
            id="phone_number"
          />
          <label for="phone_number" class="form-label">
            <div class="form-text">Telefono</div>
          </label>
        </div>
        <span style="color: red"
          ><%= typeof message4 != 'undefined' ? message4 : null %></span
        >
        <div class="form-group mb-3">
          <textarea
            name="realestate_description"
            id=""
            class="form-input"
            placeholder=""
          ></textarea>
          <label for="description" class="form-label"
            ><div class="form-text">Descripción</div></label
          >
        </div>
        <div class="form-group mb-3">
          <input type="file" name="img" id="img" class="form-control" />
        </div>
        <button type="submit" class="boton-principal">Enviar</button>
      </form>
    </main>
    <%- include("modules/footer") %>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
